@if (User.Identity.IsAuthenticated)
{
    <div class="header__cart">
        <ul>
            <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
            <li><a href="/cart"><i class="fa fa-shopping-bag"></i> <span>@ViewBag.CartItemCount</span></a></li>
        </ul>
        <div class="header__cart__price">sepet: <span>@((ViewBag.CartItemsPriceTotal).ToString("c"))</span></div>
    </div>
}
