@model List<Category>
<div class="hero__categories">
    <div class="hero__categories__all">
        <i class="fa fa-bars"></i>
        <span>@localizer["Tüm Kategoriler"]</span>
    </div>
    <ul>
        @foreach (var item in Model)
        {
            <li> <a href="/Shop/@item.Name">@(localizer[$"{@item.Name}"])</a></li>
        }
    </ul>
</div>