<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                        <ul>
                            <li><i class="fa fa-envelope"></i>DavudOzgurSelim@sakarya.edu.tr</li>
                            <li>₺99 Üzeri Ücretsiz Kargo!</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__right">
                        <div class="header__top__right__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        </div>
                        <div class="header__top__right__language">
                            <img src="/img/language.png" alt="">
                            <div>Türkçe</div>
                            <span class="arrow_carrot-down"></span>
                            <ul>
                                <li><a href="#">Türkçe</a></li>
                                <li><a href="#">İngilizce</a></li>
                            </ul>
                        </div>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="header__top__right__auth mr-2">
                                <a href="/account/logout"><i class="fa fa-user"></i>Çıkış Yap</a>
                            </div>
                        }
                        else

                        {
                            <div class="header__top__right__auth mr-2">
                                <a href="/account/login"><i class="fa fa-user"></i>Giriş</a>
                            </div>
                            <div class="header__top__right__auth">
                                <a href="/account/register"><i class="fa fa-user"></i>Kayıt Ol</a>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="/home/index"><img src="/img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6 text-center">
                <nav class="header__menu">
                    <ul>
                        <li class="active"><a asp-area="" asp-controller="Home" asp-action="Index">Ana Sayfa</a></li>
                        <li><a asp-area="" asp-controller="Shop" asp-action="Index">Mağaza</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contact">İletişim</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                @await Component.InvokeAsync("HeaderCart")
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>